/*https://github.com/element-plus/element-plus/issues/5693*/
@import "./preflight.css";
@import "./animation.css";
/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

/*@layer base {*/

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "ss04";
  font-family: Montserrat, sans-serif, -apple-system;
}

#root{
  min-height: 100vh;
}

:root{
  /*主题色*/
  --tp-primary-color: 3, 216, 165;
  --tp-primary-hover-color: 3, 194, 149;
}

/*}*/
